<p id="notice"><%= notice %></p>

<h1>Notes</h1>

<ul id="notes">
  <%= render @notes %>
</ul>

<br>

<h3>Add a new note:</h3>
<%= form_for(@note, remote: true) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
